<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <script src="/javascripts/auth.js"></script>
    <link rel="stylesheet" href="/stylesheets/RegisterStyle.css">
</head>
<body>
<div class="login-container">
    <h1>Registration</h1>
    <form id="registerForm" action="/auth/register" method="POST">
        <input type="text" name="username" id="username" placeholder="Username" required>
        <input type="email" name="email" id="email" placeholder="Email" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm password" required>
        <button type="submit">Submit</button>
    </form>
    <p>If you are already have an account, <a href="login">Login</a></p>
    <p>Return to <a href="/">home</a></p>
    <!-- Eventuali messaggi di errore o successo possono essere visualizzati qui -->
    {{#if error}}
        <p class="message" style="color:red;">{{error}}</p>
    {{/if}}
    {{#if success}}
        <p class="message" style="color:green;">{{success}}</p>
    {{/if}}
</div>
</body>
</html>
